[submodule "Task/report3"]
	path = Task/report3
	url = https://github.com/medicine-t/prog2_rep3.git
[submodule "Lesson/ex-inheritance"]
	path = Lesson/ex-inheritance
	url = https://github.com/naltoma/ex-inheritance.git
